NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=<clerk publishable key here>
CLERK_SECRET_KEY=<clerk secret key here>

NEXT_PUBLIC_CLERK_SIGN_IN_URL=<>
NEXT_PUBLIC_CLERK_SIGN_UP_URL=<>
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=<>
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=<>

OPENAI_API_KEY=<openai api key here>

REPLICATE_API_TOKEN=<replicate api token here>

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=<postgres data url here>

STRIPE_API_KEY=<stripe secret api key>
STRIPE_WEBHOOK_SECRET=<stripe webhook secret>
NEXT_PUBLIC_APP_URL=<app url>